body{
    background-color:  #1e1e1e5e;;
}
.top-header{
    border-bottom: 1px solid gray;
}
.how-many-category-show{
    width:100%;
    height: 30px;
    background-color: white;
}
.active{
    color:#66B032;
}
